[credential]
	helper = store
[user]
	name = Justin Leong
	email = justinleong16@gmail.com
[credential "https://git.2nd.io"]
  username = justinleong
  helper = store
[push]
	default = current
[core]
	excludesfile = /Users/justinleong/.gitignore_global
	editor = /usr/bin/vim
[url "https://"]
	insteadOf = git://
[url "git@git.2nd.io:"]
  insteadOf = ssh://git@git.2nd.io/
[github]
	user = omegaphoenix
[diff]
  tool = vimdiff
[commit]
	gpgsign = false
[gpg]
	program = gpg
[rerere]
	enabled = 1
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
